html,
body {
    height: 100%;
    overflow-x: hidden;
    font-family: Microsoft YaHei;
}

body {
    margin: 0;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.btn>i {
    margin-right: 5px;
}

.btn {
    padding: 4px 12px;
}

.hidden-xs .btn {
    border-radius: 30px;
}

.btn-primary {
    color: #ffffff !important;
    background-color: #7266ba;
    border-color: #7266ba;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff !important;
    background-color: #6254b2;
    border-color: #5a4daa;
}

.btn-info {
    color: #ffffff !important;
    background-color: #23b7e5;
    border-color: #23b7e5;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    color: #ffffff !important;
    background-color: #19a9d5;
    border-color: #189ec8;
}

.btn-danger {
    color: #ffffff !important;
    background-color: #f05050;
    border-color: #f05050;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    color: #ffffff !important;
    background-color: #ee3939;
    border-color: #ed2a2a;
}

.btn-warning {
    color: #ffffff !important;
    background-color: #fad733;
    border-color: #fad733;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    color: #ffffff !important;
    background-color: #f9d21a;
    border-color: #f9cf0b;
}

.btn-success {
    color: #ffffff !important;
    background-color: #27c24c;
    border-color: #27c24c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: #ffffff !important;
    background-color: #23ad44;
    border-color: #20a03f;
}

.form-control {
    height: 30px;
    padding: 3px 12px;
}

.input-daterange input:first-child {
    border-radius: 4px 0 0 4px;
}

.input-daterange input:last-child {
    border-radius: 0 4px 4px 0;
}

td>a {
    margin-right: 10px;
}

td>a>i {
    margin-right: 3px;
}

.edit {
    color: #19a9d5;
}

.remove {
    color: #f05050;
}

.check {
    color: #23ad44;
}

.modal-backdrop {
    bottom: 0;
}


/*头部——开始*/

.header {
    height: 50px;
    line-height: 50px;
    background-color: #23b7e5;
    background-image: linear-gradient(143deg, #2945cb 20%, #2b83f9 81%, #3a9dff);
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    color: #fff;
}

.logo {
    position: absolute;
    top: 10px;
}

.logo-title {
    font-size: 20px;
    color: #fff;
    margin-left: 40px;
    font-weight: bold;
}

.user-info {
    color: #657180;
    position: absolute;
    right: 15px;
    border: 1px solid #ddd;
    z-index: 11;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    top: 40px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(70, 76, 91, .3);
    text-align: center;
}

.user-info .btn {
    margin: 0 2px;
}

.user-info .btn-default:hover {
    background-color: #fff;
    color: #1b84ed;
    border-color: #1b84ed;
}

.user-title {
    border-bottom: 1px solid #ddd;
}

.user:hover {
    cursor: pointer;
    color: #ddd;
}


/*头部——结束*/


/*左侧侧边栏——开始*/

.metismenu .fa {
    margin-right: 5px;
}

.navbar-default {
    background-color: #fff;
}

.navbar-static-side {
    position: fixed;
    width: 200px;
    z-index: 2001;
    height: 100%;
}

.slimScrollDiv>* {
    overflow: hidden;
}

.sidebar-nav>.nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    right: -15px;
}

ul {
    padding: 0;
}

.metismenu .has-arrow {
    display: block;
    padding: 10px 15px;
}

.metismenu>li>a {
    color: #464c5b;
}

.sidebar-nav>ul {
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto; */
}

.sidebar-nav ul {
    background-color: #fff;
    padding: 0;
    list-style: none;
}

.sidebar-nav .metismenu li:first-child {
    margin-top: 5px;
}

.sidebar-nav .metismenu ul a {
    display: block;
    color: #657180;
    outline-width: 0;
}

.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:visited {
    text-decoration: none;
}

.sidebar-nav .metismenu a:hover {
    text-decoration: none;
    color: #657180;
    background: #f3f3f3;
}

.sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 43px;
}

.sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 55px;
}

.active .collapse li>.active1 {
    color: #1b84ed;
}

.metismenu .active>a {
    color: #1b84ed;
}


/*左侧侧边栏——结束*/


/*右侧主体内容容器——开始*/

.menuTabs {
    display: inline-block;
}

.menuTab .fa {
    margin-left: 2px;
}

.menuTab:hover {
    color: #337ab7;
}

.menuTab .fa:hover {
    color: #657180;
}

.content-tabs .btn {
    height: 40px;
    border-radius: 0;
    border: 0;
}

.content-tabs .btn:hover,
.content-tabs .btn:focus,
.content-tabs .btn:visited,
.content-tabs .btn:active {
    background-color: #fff;
    color: #1b84ed;
    outline: 0;
}

.btn-left {
    position: absolute;
    left: 200px;
    height: 40px;
    border-radius: 0;
    border: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 2px solid #1b84ed;
}

.btn-right {
    position: absolute;
    right: 128px;
    border: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 38px;
    border-radius: 0;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    padding: 0 29px;
    background-color: #fff;
}

.btn-dropdown {
    height: 38px;
    line-height: 38px;
    border-radius: 0;
    background-color: #fff;
}

.btn-dropdown:active,
.btn-dropdown:focus,
.btn-dropdown:hover {
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-color: #fff;
    outline: none;
    text-decoration: none;
}

.dropdown-menu {
    min-width: 130px;
    /* padding: 10px; */
    left: -1px;
    border-radius: 0;
}

.dropdown-menu>li {
    line-height: 2;
    text-align: center;
    margin-bottom: 5px;
}

.dropdown-menu>li:hover {
    cursor: pointer;
    background-color: #ddd;
}

.breadcrumb {
    background-color: #fff;
    margin-bottom: 0;
}

#content {
    position: absolute;
    border: 1px solid #ddd;
    left: 200px;
    top: 90px;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.content-tabs {
    position: absolute;
    left: 240px;
    top: 50px;
    right: 0;
    overflow: hidden;
    height: 40px;
    border-bottom: 2px solid #1b84ed;
}

.content-tabs>.btn {
    position: absolute;
}

.content-tabs .btn:first-child {
    border-right: 1px solid #ddd;
}

.page-tabs-content .active {
    background-color: #1b84ed;
    color: #fff;
}

.menuTab {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
}

.menuTab:hover,
.menuTab:active,
.menuTab:visited,
.menuTab:focus {
    text-decoration: none;
}


/*右侧主体内容容器——结束*/


/*加载动画——开始*/

.mask-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .5;
    z-index: 10;
}

.loading {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 11;
}

.sk-spinner-three-bounce.sk-spinner {
    margin: 0 auto;
    width: 100px;
    text-align: center;
}

.sk-spinner-three-bounce div {
    width: 18px;
    height: 18px;
    background-color: #23b7e5;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
    animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.sk-spinner-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.sk-spinner-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-threeBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-threeBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/*加载动画——结束*/